/*-----------------------COLORS1----------------------*/
div.hide0 {
    color: black;
}

div.hide1 {
    color: blue;
}

div.center {
    text-align: center;
}

/*-----------------------LINKS----------------------*/
ul.links {
    padding: 0px 0px 0px 0px; /*border : 1px solid black;*/
}

ul.links li {
    list-style-type: none;
    padding: 2px 0px 2px 4px;
}

ul.links li a {
    text-decoration: none;
    border-bottom: dashed #DADCE0 1px;
}

ul.links li a:hover {
    color: #8B008B;
    text-shadow: #ccc 0 1px 1px;
    border-bottom: dashed #8B008B 1px;
}

ul.links li.active a {
    color: black;
    /*font-weight: 600;*/
    text-shadow: #ccc 0 1px 1px;
}

/*-----------------------LINK IMAGE----------------------*/
ul.links li a.up {
    color:red;
    font-weight:bold;
}
ul.links li a.down {
    color:blue;
    font-weight:bold;
}

ul.links li a.open {
}

ul.links li a.add {
    background: url(/image/add.gif) no-repeat 0 0;
    padding-left: 15px;
}

ul.links li a.edit {
    background: url(/image/edit.gif) no-repeat 0 0;
    padding-left: 15px;
}

ul.links li a.delete {
    background: url(/image/delete.gif) no-repeat 0 0;
    padding-left: 15px;
}

ul.links li a.comment {
    background: url(/image/open.gif) no-repeat 0 0;
    padding-left: 15px;
}

ul.links li a.print {
    background: url(/image/print.gif) no-repeat 0 0;
    padding-left: 15px;
}

ul.links li a.prev {
  color: gray;
  font-weight:bold;
}

ul.links li a.next {
  color: black;
  font-weight:bold;
}


/* @entry */
.node {
/*node*/
/*border : 1px solid blue;*/
    margin: 30px 0px 25px 0px;
}

.sub_node {
/*comment*/
/*border : 1px solid blue;*/
    margin: 30px 0px 25px 0px;
}

/*-----------------------NODE----------------------*/
.node div.text {
    margin: 10px 2% 10px 2%;
}

.node div.field {
    font-size: 100%;
    margin: 5px 2% 5px 8%;
}

.node div.terms {
    font-size: 80%;
    text-align: right;
    margin: 0px 2% 0px 8%;
    color: gray; /*border : 1px solid green;*/
}

.node div.desc {
    font-size: 85%;
    margin: 5px 2% 5px 8%;
    color: gray;
}

.node div.sub {
    font-size: 95%;
    margin: 5px 2% 5px 8%;
    border:dotted thin gray;
}

.node div.actions {
    text-align: right;
    font-size: 80%;
    margin: 10px 2% 10px 8%;
    color: gray; /*border : 1px solid green;*/
}

.node div.tags {
    font-size: 80%;
    margin: 5px 2% 5px 8%;
    color: gray; /*border : 1px solid red;*/
}

.node div.task {
    font-size: 100%;
    margin: 5px 2% 15px 8%;
    color: blue; /*border : 1px solid red;*/
}

.node div.relation {
    font-size: 80%;
    margin: 5px 2% 5px 8%;
    color: red; /*border : 1px solid red;*/
}


.node div.keys {
    font-size: 65%;
    margin: 5px 2% 5px 8%;
    color: gray;
}

.node div.verse {
    margin: 30px 2% 20px 8%;
}

.node div.read {
    margin: 5px 2% 20px 8%;
    font-size: 95%;		
}

.node div.sibling {
    margin: 15px 20% 5px 20%;
    font-size: 95%;
    text-align:center;
}

/* @separator */
.node div.separator {
    height: 30px;
    font-weight: normal;
    color: #666A75;
    font-size: 75%;
    margin-top: 50px;
    background: transparent url(/image/separator.gif) repeat-x scroll right bottom; /*border : 1px solid red;  /**/
}

.jform{
    font-family: sans-serif;
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
}

/*-----------------------COMMENT----------------------*/

div.level0 {
    color: black;
}
div.level1 {
    color: blue;
}
div.level2 {
    color: green;
}
div.level3 {
    color: red;
}
div.level4 {
    color: gray;
}
div.level5 {
    color: #a9a9a9;
}
.sub_node div.name {
    font-size: 85%;
 /*   font-weight: bold;*/
    text-shadow: #ccc 0 1px 1px;    
    margin: 5px 2% 5px 8%;
}

.sub_node div.info {
    font-size: 80%;
    text-align: right;
    margin: 0px 2% 0px 8%;
    color: gray;
}

.sub_node div.actions {
    text-align: right;
    font-size: 80%;
    margin: 10px 2% 10px 8%;
    color: gray; /*border : 1px solid green;*/
}


.sub_node div.comment {
    font-size: 95%;
    margin: 30px 2% 25px 8%;
}

.sub_node div.separator {
    height: 30px;
    font-weight: normal;
    color: #666A75;
    font-size: 70%;
    margin-top: 50px; /* border-bottom : 1px solid gray;*/
    margin-left: 25px;
    background: transparent url(/image/separator.gif) repeat-x scroll right bottom;
}

/*-----------------------separator----------------------*/
.separator span.left {
    float: left;
    padding: 0px 0px 0px 0px;
    /*border : 1px solid gray;/**/
}
.separator span.right {
    float: right;
    padding: 0px 0px 0px 0px;
    /*border : 1px solid gray;/**/
}
.separator span.share {
    font-size: 10pt;
    margin: -7px 0px 0px 0px;
}

.separator span.left2 {
    float: left;
    font-size: 11pt;
    margin: -5px 0px 0px 0px;
    padding: 0px 0px 0px 0px; /*border : 1px solid gray;/**/
}
.separator span.right2 {
    float: right;
    padding: 5px 0px 0px 0px; /*border : 1px solid gray;/**/
}



.minus {
    color: black
}

.plus {
    color: red
}

/*-----------------------table----------------------*/
table.items {
    background: #fffeef;
    white-space: nowrap;
    width: 100%;
    font: normal normal 90% Verdana;
    border-collapse: collapse;
}

table.items,
table.items th,
table.items td {
    border: 1px solid #FAEBD7;
    padding:3px 7px 2px 7px;
}
table.items caption {
    font-size:105%;
    font-weight:bold;
}
table.items tr.odd td
{
background-color:#fffeef;
}
table.items tr.even td
{
background-color:#fff; /*#FAEBD7;*/
}

table.items th {
padding-top:5px;
padding-bottom:4px;
background-color:#cea877;
color:#fff;
}
table.items td.action
{
text-align:center;
}
